$max-width: 425px;

$default-background-color: #1A1C1E;

$bottom-navbar-height: 65px;
$bottom-navbar-background-color: #263141;
$bottom-navbar-color-unselected: rgba(255, 255, 255, 0.1);
$bottom-navbar-color-selected: white;