#default-root {
  max-width: $max-width;
  width: 100%;
  height: 100%;

  //display: flex;
  //flex-direction: column;
  //align-items: flex-start;
  //gap: 0;
  //
  //position: relative;
}

#default-content {
  flex-basis: 0;

  padding: 24px;
  width: 100%;
  height: calc(100% - $bottom-navbar-height);

  overflow-y: scroll;
}