.main-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  //margin: 0 10px 0 10px;
  margin: 0;

  width: calc(100%);
  height: 100%;

  border-radius: 20px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.card-upper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 100%;
  height: 80%;

  //background: white;
  border-radius: 20px 20px 0px 0px;

  flex: 1;
  order: 0;
}

.card-image {
  width: 7rem;
  height: 7rem;

  border-radius: 50%;
  background: #C0C0C0;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.card-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 20px 0px;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  font-size: 0.8rem;
  color: grey;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 100%;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.like-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 28px;
  height: 28px;

  background: #E93B84;
  border-radius: 14px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.profile-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 28px;
  height: 28px;

  background: #3B6CE9;
  border-radius: 14px;

  flex: none;
  order: 1;
  flex-grow: 0;
}

#search-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 20px;
  isolation: isolate;

  position: relative;
  width: 100%;
  height: 100%;
}

#search-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 20px;

  width: 100%;
  height: 26px;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  z-index: 1;
}

#search-top-title {
  width: 100%;
  height: 16px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;

  color: #FFFFFF;

  flex: none;
  order: 0;
  flex-grow: 1;
}

#search-main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  width: 100%;
  height: calc(100% - 26px - 20px);

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  z-index: 2;
}

.card-down {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 20px 20px 20px;
  gap: 10px;

  width: 100%;

  /* Inside auto layout */

  flex: none;
  order: 1;
}

.card-down-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;

  width: 100%;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.card-down-title {
  width: 100%;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  color: #FFFFFF;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.card-down-explain {
  width: 100%;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  color: rgba(255, 255, 255, 0.5);

  flex: none;
  order: 1;
  flex-grow: 0;
}

#card-carousel {
  //display: flex;
  //width: calc(100%);
  //overflow-x: scroll;
  height: 100%;

  //gap: 40px;

  max-height: 500px;
}

.carousel__viewport {
  height: 100% !important;
}

.carousel__track {
  height: 100% !important;
}